@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.hotel-name{
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
}
.hotel-common-text{
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}