@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.placeName{
    color: #FFF;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.placeDescription{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}